html {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    user-select: none;
}

#workspace {
    width: 100%;
    height: 100%;
    cursor: none;
}

#workspace canvas {
    position: absolute;
}

canvas { width: 100%; height: 100% }

.marbling-pane {
    background-color: rgba(255,255,255,0.8);
}
.marbling-pane ul {
    height: 25px;
}
.marbling-pane li {
    vertical-align: middle;
}

#marbling-tools {
    position: absolute;
    right: 0;
    bottom: 0;

}
#marbling-colors {
    position: absolute;;
    left: 0;
    bottom: 0;
}

.marbling-pane ul {
    margin: 0;
    padding: 10px;
}

.marbling-pane li {
    list-style: none;
    display: inline-block;
    margin: 0 5px;
}

#marbling-tools li {
    border: 2px solid transparent;
    padding: 3px;
}
#marbling-tools li:hover {
    border: 2px solid gray;
    background-color: rgba(0,0,0, 0.1);
}

#marbling-tools .active {
    border: 2px solid rgb(72, 151, 170);
    background-color: rgba(72, 151, 170, 0.6);
}

li[class^="swatch"] {
    width: 50px;
    height: 100%;
}

input {
    vertical-align: top;
}

/* Operations input*/

#operations-input {
    position: absolute;
    top: 20px;
    background-color: white;
    visibility: hidden;
}

#operations-input textarea {
    font-family: monospace;
}

#operations-input .cancel {

}