<h1>Keyboard Shortcuts</h1>
<div id="helpClose" class="close-button">&times;</div><!-- .help-close -->

<div id="helpModalContent" class="help-modal-content">

    <div id="helpListWrap" class="help-list-wrap">

        <!--
             Each <ul> below creates a column, as long as each has a class of
             "help-list". Each <li> is a single key/definition pair.
             The extra nested <span> is to help keep the definitions lined up
             vertically, for aesthetic reasons.
             If you hate the extra <span>, just remove it from each key/def pair.
        -->

        <h2>Tools</h2>
        <ul class="help-list">
            <li class="help-key-unit">
                <kbd class="help-key"><span>d</span></kbd>
                <span class="help-key-def">Ink drop</span>
            </li>
            <li class="help-key-unit">
                <kbd class="help-key"><span>v</span></kbd>
                <span class="help-key-def">Vortex</span>
            </li>
            <li class="help-key-unit">
                <kbd class="help-key"><span>l</span></kbd>
                <span class="help-key-def">Line tine</span>
            </li>
            <li class="help-key-unit">
                <kbd class="help-key"><span>c</span></kbd>
                <span class="help-key-def">Circular tine</span>
            </li>
            <li class="help-key-unit">
                <kbd class="help-key"><span>w</span></kbd>
                <span class="help-key-def">Wavy tine</span>
            </li>
        </ul>
        <h2>Tool control</h2>
        <ul class="help-list">
            <li class="help-key-unit">
                <kbd class="help-key"><span>=</span></kbd>
                <span class="help-key-def">Increase current tool's primary parameter</span>
            </li>
            <li class="help-key-unit">
                <kbd class="help-key"><span>-</span></kbd>
                <span class="help-key-def">Decrease current tool's primary parameter</span>
            </li>
            <li class="help-key-unit">
                <kbd class="help-key"><span>shift</span> + <span>=</span></kbd>
                <span class="help-key-def">Increase current tool's secondary parameter</span>
            </li>
            <li class="help-key-unit">
                <kbd class="help-key"><span>shift</span> + <span>-</span></kbd>
                <span class="help-key-def">Decrease current tool's secondary parameter</span>
            </li>


        </ul><!-- .help-list -->

        <h2>UI</h2>
        <ul class="help-list">
            <li class="help-key-unit">
                <kbd class="help-key"><span>shift</span> + <span>?</span></kbd>
                <span class="help-key-def">Show this overlay</span>
            </li>
            <li class="help-key-unit">
                <kbd class="help-key"><span>f</span></kbd>
                <span class="help-key-def">Show operation preview vector field</span>
            </li>
            <li class="help-key-unit">
                <kbd class="help-key"><span>s</span></kbd>
                <span class="help-key-def">Show script editor</span>
            </li>
            <li class="help-key-unit">
                <kbd class="help-key"><span>tab</span></kbd>
                <span class="help-key-def">Hide UI panes</span>
            </li>
        </ul>

        <h2>Composition</h2>
        <ul class="help-list">
            <li class="help-key-unit">
                <kbd class="help-key"><span>r</span></kbd>
                <span class="help-key-def">Reset</span>
            </li>
            <li class="help-key-unit">
                <kbd class="help-key"><span></span></kbd>
                <span class="help-key-def"></span>
            </li>
            <li class="help-key-unit">
                <kbd class="help-key"><span>s</span></kbd>
                <span class="help-key-def">Show script editor</span>
            </li>
        </ul>


    </div><!-- .help-list-wrap -->

</div><!-- .help-modal-content -->